@-moz-document url('about:home'), url('about:newtab'), url('about:privatebrowsing') {
	.logo {
		height: 0px !important; 
		width: 0px !important; 
	}
	#newtab-search-container {
		display: none !important;
	}
	.search-inner-wrapper { 
		display: none !important; 
	}
  	.outer-wrapper.newtab-experience .search-wrapper {
		padding-bottom: 0px !important;
	}
}

@-moz-document url('about:privatebrowsing') {
	.promo.below-search {
		display: none !important;
	}
	.info {
		display: none !important;
	}
}